/*.navbar {*/
/*    background-color: #8CC63F;*/
/*}*/

.navbar {
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar .btn {
    background-color: #009245;
    color: white;
    border: none !important;
}

.navbar .btn:hover {
    background-color: #8CC63F;
    color: white;
}

.logo {
    height: 50px;
    width: 50px;
    margin-top: -14px;
}